.googleDiv {
  @apply flex flex-col font-poppins items-start gap-8 p-[24px] mt-[16px] rounded-xl;
  background: #23252b;
}

/* .subDiv {
  @apply flex flex-col text-[15px] font-poppins items-start gap-[16px] py-[18px] px-[24px] rounded-[8px];
  background: #23252B;
} */

.subDiv {
  @apply w-full flex flex-col gap-[15px] font-poppins items-start px-[18px] py-[24px] rounded-[8px] border-1 border-[#27282F];
  background: #1B1C21;
}

.recDiv {
  @apply w-full flex android:flex-col desktop:flex-row bg-[#27282F] px-[24px] py-[18px] font-poppins rounded-[8px] gap-[14px];
}

.stepperDiv {
  @apply w-full flex android:flex-col desktop:flex-row gap-[8px] font-poppins items-start p-[6px] rounded-[8px] border-1 border-[#27282F];
  background: #1B1C21;
}

.divHead {
  @apply text-[15px] text-white;
}

.subHead {
  @apply text-[14px] text-[#ABABAB];
}

.label,
.upload,
.button {
  @apply inline-flex text-[15px] justify-center items-center gap-[10px] !px-[16px] !py-[8px] rounded-[8px] bg-[#35363A] text-[#ABABAB] border-none;
}

.upload:focus,
.button:focus,
.upload:hover,
.button:hover {
  @apply outline-none text-[#844FFF];
}

.mainButton {
  @apply android:flex desktop:inline-flex text-[15px] justify-center items-center gap-[10px] !px-[16px] !py-[12px] rounded-[8px] text-white border-none;
}

.subButton {
  @apply text-[15px] justify-center items-center gap-[10px] !px-[16px] !py-[12px] rounded-[8px] text-white border-1 border-[#ABABAB];
}

.input {
  @apply w-full inline-flex justify-center items-center text-[#FFFFFF] font-poppins px-[16px] py-[0px] h-[60px] border-1 rounded-[4px];
  background: #212228;
}

.textarea {
  @apply w-full inline-flex justify-center items-center text-[#FFFFFF] font-poppins px-[16px] pt-[12px] !h-[100px] border-1 rounded-[4px];
  background: #212228;
}

.input::placeholder,
.textarea::placeholder {
  @apply text-[#ABABAB] text-[12px] not-italic font-medium;
}

.subDiv2 {
  @apply flex flex-col text-[15px] min-h-[118px] font-poppins items-start pt-[18px] pb-[18px] pl-[24px] pr-[24px] rounded-xl;
  background: #23252B;
  display: block;
  overflow: auto;
}

.onPageDiv {
  @apply flex flex-col text-[15px] min-h-[118px] font-poppins items-start gap-[24px] pt-[18px] pb-[18px] pl-[24px] pr-[24px] mt-[32px] rounded-xl;
  background: #1B1C21;
}

.target {
  @apply flex flex-col font-poppins items-start gap-8 flex-[1_0_0] mt-[50px] self-stretch p-6 rounded-xl;
  background: #23252B;
}

