.nav-bar {
    align-items: center;
    background-color: #15161a;
    border-radius: 25px;
    display: flex;
    gap: 32px;
    padding: 16px 32px;
    position: relative;
    width: 1240px;
}

.nav-bar .group {
    height: 27.92px;
    position: relative;
    width: 131px;
}

.nav-bar .frame {
    align-items: center;
    display: flex;
    flex: 1;
    flex-grow: 1;
    gap: 16px;
    position: relative;
}

.nav-bar .navbar {
    align-items: center;
    border-radius: 8px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 32px;
    height: 47px;
    justify-content: center;
    margin-bottom: -1.5px;
    margin-left: -1.5px;
    margin-top: -1.5px;
    padding: 6px 16px;
    position: relative;
}

.nav-bar .text {
    color: #ffffff;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.nav-bar .buttons {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
}

.nav-bar .text-wrapper {
    align-items: center;
    background-color: #15161a;
    border-radius: 8px;
    display: flex;
    gap: 16px;
    height: 46px;
    justify-content: center;
    margin-left: -1px;
    padding: 6px 16px;
    position: relative;
    width: 146px;
}

.nav-bar .div {
    color: #ffffff;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 29.1px;
    margin-left: -4px;
    margin-right: -2px;
    position: relative;
    text-align: center;
    width: 120px;
}

.nav-bar .button-instance {
    flex: 0 0 auto !important;
}

.nav-bar .icon-instance-node {
    height: 16px !important;
    position: relative !important;
    width: 17.45px !important;
}
