.landing-title {
  background: linear-gradient(243deg,#D634FF, #4663FF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-bg {
  background-image: url(/images/home/landing-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.new-home-bg {
  background-image: url(/images/home/new-landing-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.request-demo-btn {
  @apply text-white p-8 py-4 font-semibold text-lg flex items-center justify-center gap-3 rounded hover:opacity-80 bg-primary-gradient;
}
