@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-bg: #3A3A3A;
  --c-scrollbar: #bbb;
  --c-scrollbar-hover: #999;
}

html,
body {
  @apply w-full h-full;
}

.admin-content {
  background-color: #15161A;
  @apply text-white p-8;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

.ant-image-img {
  height: inherit !important;
  width: inherit !important;
}

.ant-picker-input input {
  @apply !text-white !text-base;
}

.ant-picker:hover {
  @apply !border-primary-purple;
}

.ant-picker-input input::placeholder {
  @apply !text-primary-gray;
}

.ant-picker-suffix {
  @apply !text-primary-gray;
}

.small-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.small-scrollbar::-webkit-scrollbar:horizontal {
  height: 4px;
}

.small-scrollbar::-webkit-scrollbar-track,
.small-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
  border-radius: 10px;
}

.small-scrollbar::-webkit-scrollbar-thumb {
  background: #35363A;
  border-radius: 10px;
}

.small-scrollbar::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

/* for profile member list style */
.table .ant-table-thead .ant-table-cell {
  @apply !bg-[#1B1C21] !border-b-0 !text-[#848484] !text-sm !font-medium;
}

.table .ant-table-thead .ant-table-cell::before {
  @apply !w-0;
} 

.table-row {
  @apply !bg-[#27282F] text-white text-sm;
}

.table-row > td.ant-table-cell {
  border-bottom: none !important;
}

.table-row > td.ant-table-cell.ant-table-cell-row-hover {
  @apply !bg-[#444549] text-white;
}

.ant-select-selector {
  @apply !text-white !text-base !border-none !bg-[#27282F] !rounded-lg;
}

.landing-txt {
  background: linear-gradient(243deg,#D634FF, #4663FF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
