@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-bg: #3A3A3A;
  --c-scrollbar: #bbb;
  --c-scrollbar-hover: #999;
}

html,
body {
  @apply w-full h-full;
}

.admin-content {
  background-color: #15161A;
  @apply text-white p-8;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

.ant-image-img {
  height: inherit !important;
  width: inherit !important;
}
