.gradient-text {
  background: linear-gradient(270deg, #D634FF 0%, #4663FF 81.52%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.input {
  @apply w-full h-[45px] android:px-[18px] ipad:px-[24px] android:py-[12px] ipad:py-[16px] bg-[#27252D] text-[#756E88] android:rounded-[2px] ipad:rounded-[4px] border-1 border-[#4E4A5B] justify-start items-center;
}

.input::placeholder {
@apply text-[#756E88];
}

.input:hover {
@apply border-primary-purple;
}

.form::before {
  content: '';
  @apply android:hidden absolute rounded-full w-5 h-5 bg-primary-gradient top-[60%] left-[-10px];
}

.form::after {
  content: '';
  @apply android:hidden absolute rounded-full w-5 h-5 bg-primary-gradient top-[-10px] right-[20%];
}

.pop {
  box-shadow: 0px 0px 66px 0px rgba(132, 79, 255, 0.28);
  @apply android:hidden ipad:block ipad:w-[160px] desktop:w-[255px] bg-[#141414] px-[13px] py-[16px] text-[14px] text-[#C1BECA] rounded-[15px] border-primary-purple absolute;
}

.pop1 {
  @apply ipad:left-[-200px] desktop:left-[-295px] top-[20px]
}

.pop2 {
  @apply ipad:right-[-200px] desktop:right-[-295px] top-[20px]
}

.pop3 {
  @apply ipad:left-[-200px] desktop:left-[-295px] bottom-[200px]
}


.pop1::before {
  content: '';
  @apply android:hidden absolute rounded-full w-4 h-4 bg-primary-gradient bottom-[-10%] right-[60px];
}